.container {
  max-width: 1200px; /* Ou qualquer outra largura desejada */
  margin: 30px auto; /* Isso centralizará horizontalmente a div */
  padding: 20px;
  background-color: #E4E4E4;
  border: 3px solid #101E3C;
  font-size: 14px;
}


.container .opcoes{
  width: 100%;
}

.container hr {
  margin-top: 45px;
  border: 1px solid #101E3C;
}

.container li {
  color: #101E3C;
  padding: 15px;
  margin: 30px;
  background-color: #D9D9D9;
  cursor: pointer;
}

.container a {
  color: #101E3C;
}

