/* Estilos para a interface do bloco de notas */
.notepad {
    width: 200%;
    position: absolute;
    top: 200px;
    left: 700px;
    border-radius: 10px;
}

.notepad-text {
    flex: 2;
}

/* Aumente a altura e largura do textarea e bloqueie o redimensionamento */
#note-content {
    width: 769px; /* Defina a largura para 100% para ocupar toda a largura disponível */
    height: 470px; /* Ajuste a altura conforme necessário */
    resize: none; /* Bloqueie o redimensionamento */
    position: relative;
    right: 90px;
    top: 20px;
    border-radius: 10px;   
}

.notes-list {
    flex: 1;
    border: 5px solid #6e3333;
    padding: 5px;
    max-width: 500px;
    max-height: none; /* Adicione uma altura máxima para a lista de notas */
    overflow-y: auto;
    position: absolute;
    top: 350px;
    left: 100px; 
}

.delete-note {
    cursor: pointer;
    padding: 1px;
    border: 1px solid #000;
}

.new-note-button {
    margin-top: 10px;
}

.buttom-new-list{
    width: 390px;
    height: 78px;
    flex-shrink: 5;
    text-align: center;
    font-size: 36px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    border-radius: 20px;
    background: #FFB511;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    left: 135px;
    position: absolute
}


::placeholder{
  text-align: center;
  position: absolute;
  top: 30px;
  left: 10px;
}